body {
    background-image: url(/assents/imagens/plano-de-fundo.jpg);
    background-position: center;
    background-repeat: no-repeat repeat ;
    background-size: 100%;
    font-family: 'Roboto Mono', monospace;
    height: auto;
    margin: 0 auto;
    width: 90%;
}
nav {
    align-items: center;
    display: flex;
    background-color: rgb(7, 19, 45);
    height: 4rem;
    justify-content: flex-end;
    padding: 0.3rem 1.5rem;
}
header {
    align-items: center;
    background-color: rgb(191, 220, 210);
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 15rem;
}
main {
    background-color: rgb(238, 234, 226);
    margin-top: 1.5rem;
}
hr {
    width: 90%;
}
footer {
    align-items: center;
    background-color: rgb(7, 19, 45);
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 6rem;
}

/*background-color: rgba(245, 220, 236, 0.582);*/